/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');

/* Global styles */
* {
    font-family: "Big Shoulders Stencil", sans-serif;
    color: black;
}

/* Style header element */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 3em;
    margin: auto;
    text-align: center;
}

header span {
    font-size: 2em;
    align-self: center;
}

/* Modal style */
#player-name {
    display: block;
    margin: 0 auto;
}

.start-button {
    border-radius: 0;
    background-color: darkslategray;
}

/* Style board and game area */
main h2 {
    padding-top: 1em;
    ;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    /* 10 columns */
    grid-template-rows: repeat(10, 30px);
    /* 10 rows */
    width: max-content;
    margin: 20px;
}

.cell {
    background-color: lightblue;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#player-board .cell:hover {
    /* Only change hover style on player board for now */
    background-color: gray;
}

/* Color ship cells when they are red */
#computer-board .cell {
    transition: background-color 0.3s ease;
    /* Smooth color transition */
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.board-container {
    text-align: center;
}